/* Mobile & Tablet */
@media (max-width: 1023px) {

    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }

    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        position: fixed;
        z-index: 10;
        width: 100%;
        top: 0;
    }

    .header__cart-list {
        position: fixed;
        top: calc(var(--header-height) - 2px);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 648px) / 2);
    }

    .home-product-item__price-old,
    .home-product-item__price-current {
        font-size: 2rem;
    }

    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .header__cart-list::after {
        display: none;
    }

    .header__sort-bar {
        display: flex;
    }

    .app__content {
        padding-top: 8px;
    }

    .hearder__navbar-list-animation-mt {
        display: flex;
    }
    
    .flip-card:hover .flip-card-inner {
        transform: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .header__cart {
        width: 80px;
        text-align: right;
        display: block;
    }

    .header-back-home {
        display: block;
        width: 58px;
    }

    .header-back-home-icon {
        color: var(--pink-color);
        font-size: 23px;
    }

    .header-back-home-icon:hover {
        opacity: 0.8;
    }

    .header__cart-heading {
        text-align: left;
    }

    .header__cart-item-name {
        text-align: left;
    }

    .footer-app {
        display: flex;
    }

}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .header-with-search {
        justify-content: space-between;
    }

    .header__cart,
    .header__logo {
        width: unset;
    }

    .header__logo {
        padding-top: 8px;
    }

    .header__search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        z-index: 1;
        padding: 0 16px;
        animation: mobileSearchSideIn linear 0.3s;
        display: none;
    }

    .header__search-history {
        position: fixed;
        width: 100%;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        left: 0;
    }

    .header__mobile-search {
        display: block;
    }

    .pagination-item {
        margin: 0;
    }

    .pagination-item__link {
        --height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }

    .app__content {
        margin: 0 4px;
    }

    .footer-content {
        padding: 0 16px;
    }

    .footer-app {
        display: flex;
        align-items: center;
    }

    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            top: calc(var(--header-height) / 2);
        }
        to {
            opacity: 1;
            top: var(--header-height);
        }
    }
}